
douyin-server

rpc/output/

docker/database/mysql/data
docker/database/mysql/conf
docker/database/mysql/logs
docker/database/redis/data
docker/gateway/douyin-server
docker/microservices/feed/feed
docker/microservices/user/user
docker/microservices/favorite/favorite
docker/microservices/comment/comment
docker/microservices/relation/relation
docker/microservices/publish/publish
docker/microservices/message/message
